---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<style>
  .publication {
    margin-bottom: 1.2em;
    line-height: 1.6;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    color: #333;
  }

  .publication .authors {
    display: inline;
  }

  .publication .title {
    font-weight: bold;
    display: inline;
  }

  .publication .journal {
    font-style: italic;
    display: inline;
  }
</style>

<div class="publication">
  <span class="authors">Safaei, Bardia, Faizan Siddiqui, Jiacong Xu, Vishal M. Patel, and Shao-Yuan Lo. </span>
  <span class="title">"Filter Images First, Generate Instructions Later: Pre-Instruction Data Selection for Visual Instruction Tuning." </span>
  <span class="journal">arXiv preprint arXiv:2503.07591 (2025).</span>
</div>