---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<div style="margin-bottom: 16px;">
  Safaei, Bardia, Faizan Siddiqui, Jiacong Xu, Vishal M. Patel, and Shao-Yuan Lo.<br>
  <span style="font-style: italic;">"Filter Images First, Generate Instructions Later: Pre-Instruction Data Selection for Visual Instruction Tuning."</span><br>
  arXiv preprint <b>arXiv:2503.07591</b> (2025).<br>
  <a href="https://arxiv.org/abs/2503.07591" target="_blank">[PDF]</a>
</div>
